*.class

# Package Files #
*.jar

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*

bwapi-data/
target/

# log related
/log.txt.1
/log.txt.1.lck
/log.txt.lck
/log.txt